<!-- <ul>
  <li *ngFor="let c of mainCategories">
    {{ c.category }}

    <ul>
        <li *ngFor="let subcategories of c.subcategories">
            <div *ngIf="subcategories.name === testing">
            {{ subcategories.name }}
            <ul>
                <li *ngFor="let items of subcategories.items">
                  
                    {{ items.name }}
                    {{ items.description }} 
                </li>
            </ul>
          </div>
        </li>
    </ul>
  </li>
</ul> -->
