<carousel [interval]="toggleSlider">
  <slide *ngIf="sliders">
    <img [src]="sliders[0].imagelink" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{ sliders[0].name }}</h3>
      <p>{{ sliders[0].description }}</p>
    </div>
  </slide>
  <slide *ngIf="sliders">
    <img [src]="sliders[1].imagelink" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{ sliders[1].name }}</h3>
      <p>{{ sliders[1].description }}</p>
    </div>
  </slide>
  <slide *ngIf="sliders">
    <img [src]="sliders[2].imagelink" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{ sliders[2].name }}</h3>
      <p>{{ sliders[2].description }}</p>
    </div>
  </slide>
</carousel>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <a routerLink="../shopping" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Start shopping now!</a>
    </div>
    <div class="col-md-3">
      Toggle slider autoplay: 
      <label class="switch">
        <input type="checkbox" (click)="toggleCarousel()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
    
</div>